@media(max-width:480px){
.p-head{
        width: 100vw;
    }
    .project-land{
        width:100%;
        height:100vh;
        position:relative;
        display:grid;
        place-items:center; 
        margin-bottom: 0px;
    }
    #dark .choice-box{
        display:flex;
        width:75%;
        height:250px;
        margin:auto;
        justify-content:space-between;
        align-items:center;
        margin-top: 50px;   
        border-radius:5px; 
        margin-bottom: 0;
    }
   #dark .choice-bttn{
        padding:30px 15px;
        border:none;
        border-radius:15px;
        margin-left:15px;
        font-size:14px;
        font-weight: 400;
        font-family:'poppins';
    }

    /* LIGHT */
    #light .choice-box{
        display:flex;
        width:75%;
        height:250px;
        margin:auto;
        justify-content:space-between;
        align-items:center;
        margin-top: 50px;   
        border-radius:5px; 
        margin-bottom: 0;
    }
   #light .choice-bttn{
        padding:30px 15px;
        border:none;
        border-radius:15px;
        margin-left:15px;
        font-size:14px;
        font-weight: 400;
        font-family:'poppins';
    }

    .portIntro{
        margin-top: 20%;
    }
 
    /* CASES */

    #dark .case1{
         width: 100%;   
    }
    #light .case1{
        width: 100%;   
   }
}